.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

ts-node-*
.vscode
*.bundle.js
*.out
.settings
typings
*.log
*.map
.sass-cache
package-lock.json
build
dist
bin